.sudokuCellHighlighted{
background-color: #EFEFEF;
border: 0.1px dashed silver;
height: 3.9rem;
width: 3.9rem;
text-align: center;
font-size: 40px;
}

.sudokuCell{
border: 1px dashed silver;
height: 3.9rem;
width: 3.9rem;
text-align: center;
font-size: 40px;
}



.non-editable {
    font-weight: bold;
}

.has-conflict {
    color: red;
}

@media only screen and (max-width: 550px) {
    .sudokuCellHighlighted, .sudokuCell {
        max-height: 3rem;
        max-width: 3rem;
    }
}

@media only screen and (max-width: 450px) {
    .sudokuCellHighlighted, .sudokuCell {
        max-height: 2.5rem;
        max-width: 2.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .sudokuCellHighlighted, .sudokuCell {
        max-height: 2.2rem;
        max-width: 2.2rem;
    }
}